/*general*/
body, html{
	height: 100%;
}
body{
	position: absolute;
	font-size: 100%;
	margin: 0px;
	background-color: #F9E3E3;
	font-family: Arial;
}
h2{
	margin: 2%;
	color: white;
}
h1{
	margin: 2%;
	color: white;
}
p{
	margin: 2%;
	color: white;
}
link{
	color: white;
}
:visited{
	color: white;
}

header{
	background-color: #0D0D0D;
	position: fixed;
	top: 1%;
	left: 1%;
	width: 98%;
	height: 8%;
	display: flex;
}
footer{
	background-color: #0D0D0D;
	position: fixed;
	bottom: 1%;
	left: 1%;
	width: 98%;
	height: 8%;
	text-align: center;
	display: flex;
}

/*flex*/
.flex-container{
	display: flex;
	position: fixed;
	flex-direction: row;
	top: 10%;
	left: 1%;
	height: 80%;
	width: 98%;
}

/*first page*/
/*intro*/
.intro{
	position: relative;
	background-color: #731C1C;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 25%;
	height: 100%;
}

/*map*/
#p1d2{
	position: relative;
	background-image: url("img/jap.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	order: 2;
	flex-grow: 2;
	flex-basis: 48%;
	height: 100%;
}
.dot{
	block-size: 2%;
	position: absolute;
}
#dot_os{
	left: 0%;
	top: 0%;
}
#dot_hi{
	left: 10%;
	top: 10%;
}
#dot_ko{
	left: 20%;
	top: 20%;
}
#dot_ai{
	left: 30%;
	top: 30%;
}
#dot_tm{
	left: 40%;
	top: 40%;
}
#dot_to{
	left: 50%;
	top: 50%;
}
#dot_sh{
	left: 60%;
	top: 60%;
}
#dot_ho{
	left: 70%;
	top: 70%;
}
#dot_na{
	left: 80%;
	top: 80%;
}
#dot_ky{
	left: 90%;
	top: 90%;
}
#dot_ka{
	left: 100%;
	top: 100%;
}

/*lists*/
.list{
	position: relative;
	background-color: #731C1C;
	text-align: center;
	order: 3;
	flex-grow: 1;
	flex-basis: 25%;
	height: 100%;
}
.dots{
	float: right;
}

/*initiate with nat list*/
#p1d3os{
	display: none;
}
#p1d3hi{
	display: none;
}
#p1d3ko{
	display: none;
}
#p1d3ai{
	display: none;
}
#p1d3tm{
	display: none;
}
#p1d3to{
	display: none;
}
#p1d3sh{
	display: none;
}
#p1d3ho{
	display: none;
}
#p1d3na{
	display: none;
}
#p1d3ky{
	display: none;
}
#p1d3ka{
	display: none;
}

/*second page*/
.column1{
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	position: relative;
	background-color: #731C1C;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 49%;
	height: 100%;
	border-right-width: 2%;
	border-right-color: #F9E3E3;
	border-right-style: solid;
}
.column2{
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	position: relative;
	background-color: #731C1C;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 49%;
	height: 100%;
	border-left-width: 2%;
	border-left-color: #F9E3E3;
	border-left-style: solid;
}
.column1::-webkit-scrollbar{
	width: 0 !important
}
.column2::-webkit-scrollbar{
	width: 0 !important
}

/*parallax*/
.parallax1{
	background-image: url("img/dish1.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax2{
	background-image: url("img/dish2.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}