/*general*/
body{
	font-size: 100%;
	margin: 0px;
}

p{
	margin: 2%;
}

header{
	background-color: #155E48;
	position: fixed;
	top: 1%;
	left: 1%;
	width: 98%;
	height: 8%;
	display: flex;
}

footer{
	background-color: #155E48;
	position: fixed;
	bottom: 1%;
	left: 1%;
	width: 98%;
	height: 8%;
	text-align: center;
	display: flex;
}

/*initiate with FR*/
#creEN{
	display: none;
}

#creDE{
	display: none;
}

#conEN{
	display: none;
}

#conDE{
	display: none;
}

/*flex*/
.flex-container{
	display: flex;
	position: fixed;
	top: 10%;
	left: 1%;
	background-color: bisque;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80%;
	width: 98%;
}

/*first page*/
#div11FR{
	background-color: #831E34;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 25%;
	height: 100%;
}
#div11EN{
	display: none;
	background-color: #831E34;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 25%;
	height: 100%;
}
#div11DE{
	display: none;
	background-color: #831E34;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 25%;
	height: 100%;
}

#div12{
	background-color: #8E4620;
	text-align: center;
	order: 2;
	flex-grow: 3;
	flex-basis: 70%;
	height: 100%;
}

#div13{
	display: none;
	background-color: #3D7C1C;
	text-align: center;
	position: fixed;
	top: 10%;
	right: 1%;
	height: 80%;
	width: 24.5%;
}

/*map*/
area{
	border: 5px #f00 solid;
}

/*second page*/
#div21FR{
	background-color: #831E34;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 50%;
	height: 100%;
}
#div21EN{
	display: none;
	background-color: #831E34;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 50%;
	height: 100%;
}
#div21DE{
	display: none;
	background-color: #831E34;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 50%;
	height: 100%;
}

#div22FR{
	background: #8E4620;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 50%;
	height: 100%;
}
#div22EN{
	display: none;
	background: #8E4620;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 50%;
	height: 100%;
}
#div22DE{
	display: none;
	background: #8E4620;
	text-align: center;
	order: 1;
	flex-grow: 1;
	flex-basis: 50%;
	height: 100%;
}
